In [97]:
# Import SQL Alchemy
from sqlalchemy import create_engine, inspect

import pandas as pd
import datetime as dt


# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session


# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [92]:
# Create a connection to a SQLite database
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
connection = engine.connect()

In [93]:
inspector = inspect(engine)

In [94]:
inspector.get_table_names()

['measurement', 'station']

In [95]:
data_df = pd.read_sql("SELECT * FROM measurement", connection)
data_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [86]:
#date_prcp = engine.execute('SELECT date, prcp FROM measurement where date between "2017-08-23" and "2010-01-01"').fetchall()
#date_prcp

[]

In [91]:
# Assign the demographics class to a variable called `Demographics`
#measurements = Base.classes.measurement

AttributeError: type object 'Base' has no attribute 'classes'

In [87]:
#design a query to retrieve the last 12 months of precipitation data
recent_date = session.query(measurements.date).order_by(measurements.date.desc()).first()
print(recent_date)

('2017-08-23',)

In [99]:
#calc the date one year from today
one_year_back = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(one_year_back)

2016-08-23

In [102]:
#perform a query to retrieve the data and prcp values
prcp_data = session.query(measurements.date, measurements.prcp).\
    filter(measurements.date > one_year_back).\
    order_by(measurements.date).all()

In [103]:
#save as dataframe and set index to date 
prcp_data_df = pd.DataFrame(prcp_data)
prcp_data_df.head()

         date  prcp
0  2016-08-24  0.08
1  2016-08-24  2.15
2  2016-08-24  2.28
3  2016-08-24   NaN
4  2016-08-24  1.22

In [ ]:
prcp_data_df =

In [69]:
data_df = pd.DataFrame(date_prcp)
data_df.head

<bound method NDFrame.head of                 0     1
0      2010-01-01  0.08
1      2010-01-02  0.00
2      2010-01-03  0.00
3      2010-01-04  0.00
4      2010-01-06   NaN
5      2010-01-07  0.06
6      2010-01-08  0.00
7      2010-01-09  0.00
8      2010-01-10  0.00
9      2010-01-11  0.01
10     2010-01-12  0.00
11     2010-01-14  0.00
12     2010-01-15  0.00
13     2010-01-16  0.00
14     2010-01-17  0.00
15     2010-01-18  0.00
16     2010-01-19  0.00
17     2010-01-20  0.00
18     2010-01-21  0.00
19     2010-01-22  0.00
20     2010-01-23  0.00
21     2010-01-24  0.01
22     2010-01-25  0.00
23     2010-01-26  0.04
24     2010-01-27  0.12
25     2010-01-28  0.00
26     2010-01-30   NaN
27     2010-01-31  0.03
28     2010-02-01  0.01
29     2010-02-03   NaN
...           ...   ...
19520  2017-07-24  0.84
19521  2017-07-25  0.30
19522  2017-07-26  0.30
19523  2017-07-27  0.00
19524  2017-07-28  0.40
19525  2017-07-29  0.30
19526  2017-07-30  0.30
19527  2017-07-31  0.00
19528  2017-08-01   NaN
19529  2017-08-02  0.25
19530  2017-08-03  0.06
19531  2017-08-05   NaN
19532  2017-08-06   NaN
19533  2017-08-07  0.05
19534  2017-08-08  0.34
19535  2017-08-09  0.15
19536  2017-08-10  0.07
19537  2017-08-11   NaN
19538  2017-08-12  0.14
19539  2017-08-13   NaN
19540  2017-08-14  0.22
19541  2017-08-15  0.42
19542  2017-08-16  0.42
19543  2017-08-17  0.13
19544  2017-08-18   NaN
19545  2017-08-19  0.09
19546  2017-08-20   NaN
19547  2017-08-21  0.56
19548  2017-08-22  0.50
19549  2017-08-23  0.45

[19550 rows x 2 columns]>

In [55]:
data_df = pd.read_sql("SELECT * FROM measurement", connection)
data_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [ ]:
"dataprcp.prcp = dataprcp['to_date'].fillna(pd.to_datetime('2050-12-31'))
"datatitle.head()

In [ ]:
data_df

In [37]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [38]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [39]:
# Assign the demographics class to a variable called `Demographics`
measurements = Base.classes.measurement

In [44]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [45]:
# Use the session to query Demographics table and display the first 5 locations
for row in session.query(measurements, measurements.date).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.measurement object at 0x0000027C36C7E438>, '2010-01-01')
(<sqlalchemy.ext.automap.measurement object at 0x0000027C36C7E4A8>, '2010-01-02')
(<sqlalchemy.ext.automap.measurement object at 0x0000027C36C7E518>, '2010-01-03')
(<sqlalchemy.ext.automap.measurement object at 0x0000027C36C7E588>, '2010-01-04')
(<sqlalchemy.ext.automap.measurement object at 0x0000027C36C7E5F8>, '2010-01-06')

In [48]:
# Hints: Look into counting and grouping operations in SQLAlchemy
date_measure = session.query(measurements).group_by(measurements.date).count()
print(date_measure)

2792